*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.center-table {
  margin: 0 auto;
  border-collapse: collapse; 
  width: 60%;
}

.center-table th, .center-table td {
  border-bottom: 1px solid #000000; 
  padding: 16px; 
  text-align: center;
  font-size: 20px;
}

canvas{
  width: 40%;
  height: 40%;
}
